body {
    background-color: #151515;
}

.App {
    width: 300px;
    height: 250px;
    margin: 200px auto 0 auto;
    background-color: #151515 ;
    border: solid 3px #ff2c7a;
    border-radius: 10px;
    padding:10px;
}

.count {
    height: 130px;
    margin: 10px;
    display: flex;
    justify-content: center;
    color: #ff2c7a;
    border: solid 3px #ff2c7a;
    border-radius: 10px;
    padding:10px;
}

.count h1 {
    font-size: 50px;
}

.incrValue {
    font-size: 30px;
    color: #aa0815;
}

.maxCount {
    height: 130px;
    margin: 10px;
    display: flex;
    justify-content: center;
    color: #aa0815;
    border: solid 3px #ff2c7a;
    border-radius: 10px;
    padding:10px;
}

.maxCount h1 {
    font-size: 55px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    border: solid 3px #ff2c7a;
    border-radius: 10px;
    padding:10px;
}

.addStyle {
    background-color: #ff2c7a;
    border: solid 3px #ff2c7a;
    border-radius: 10px;
    color: #151515;
    font-size: 20px;
    font-weight: 900;
}

.resetStyle {
    background-color: #ff2c7a;
    border: solid 3px #ff2c7a;
    border-radius: 10px;
    color: #151515;
    font-size: 20px;
    font-weight: 900;
}

.disableClassAdd {
    background-color: #ff2c7a;
    border: solid 3px #ff2c7a;
    border-radius: 10px;
    color: #151515;
    font-size: 20px;
    font-weight: 900;
    opacity: 0.3;
    cursor: not-allowed;
}

.disableClassReset {
    background-color: #ff2c7a;
    border: solid 3px #ff2c7a;
    border-radius: 10px;
    color: #151515;
    font-size: 20px;
    font-weight: 900;
    opacity: 0.3;
    cursor: not-allowed;
}

.setStyle {
    background-color: #ff2c7a;
    border: solid 3px #ff2c7a;
    border-radius: 10px;
    color: #151515;
    font-size: 20px;
    font-weight: 900;
}


.displayStyle {
    height: 130px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ff2c7a;
    border: solid 3px #ff2c7a;
    border-radius: 10px;
    padding:10px;
}

.inputName {
    font-size: 20px;

}

.inputLine{
    width: 100px;
    height: 20px;
    margin: 5px 0 auto 50px;
    border: solid 2px #ff2c7a;
    border-radius: 5px;
}

.error {
    width: 100px;
    height: 20px;
    margin: 5px 0 auto 50px;
    border: solid 2px red;
    background-color: #ff9098;
}